<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
	<variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
	<variable name="appName" value="InvoiceR"/>

	<targets>

		<target xsi:type="File"
				name="default"
				fileName="${basedir}/logs/${appName}_${shortdate}.log"
				layout="${linePrefix}${message}${exceptionFormat}" />

	</targets>

	<rules>
		
		<logger name="*" minlevel="Info" writeTo="default" />

	</rules>
</nlog>